In [14]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt
import pandas as pd

In [7]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [11]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_beginning = dt.date(2017,6,1)
june_end = dt.date(2017,6,30)

results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= june_beginning, Measurement.date <= june_end).all()

In [ ]:
#  3. Convert the June temperatures to a list.
print(results)

In [19]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(results, columns = ["Days Of June", "Temperature"])
june_df.set_index(june_df["Days Of June"], inplace = True)
june_df = june_df.sort_index()

In [20]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

       Temperature
count   191.000000
mean     77.219895
std       2.622538
min      71.000000
25%      75.000000
50%      77.000000
75%      79.000000
max      83.000000

## D2: Determine the Summary Statistics for December

In [24]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_beginning = dt.date(2016,12,1)
december_end = dt.date(2016,12,31)

results2 = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= december_beginning, Measurement.date <= december_end).all()

In [ ]:
# 7. Convert the December temperatures to a list.
print(results2)

In [27]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_df = pd.DataFrame(results2, columns = ["Days Of December", "Temperature"])

In [28]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_df.describe()

       Temperature
count   200.000000
mean     71.130000
std       3.419292
min      60.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      78.000000